.modal_Container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    .modal {
        background-color: rgba($color: #fff, $alpha: 0.35);
        width: calc(12rem + 12vw);
        height: auto;
        padding: 2rem;
        border-radius: 20px;
        transform: translateY(-600px);
        transition: all 0.4s ease;
        &_header {
            position: relative;
            border-bottom: 1px solid #00ff00;
            .modal_title {
                text-align: center;
            }
            .close {
                position: absolute;
                top: 0%;
                right: 0;
            }
            button {
                background: none;
                font-size: 1.5rem;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    color: #00ff00;
                }
            }
        }
        .content {
            padding: 2rem 0;
            border-bottom: 1px solid #00ff00;
        }
        .modal_footer {
            padding: 10px;
        }
        .submit {
            float: right;
            background: #00ff00;
            font-size: 1rem;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

.modal_Container.show {
    opacity: 1;
    visibility: visible;
    .modal {
        transform: translateY(0);
    }
}